header {
  position: relative;
}
header:not(:first-child) {
  margin-top: 50px;
}

header h1 {
  text-align: center;
  font-size: 3rem;
}

article {
  text-align: center;
}

.name {
  background-color: rgb(217, 255, 0);
  padding: 50px;
  font-size: 2rem;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  background-color: #eee;
  margin-top: 0;
  font-size: 1.1rem;
  display: none;
}

ul li {
  border-bottom: 1px solid #444;
  padding: 5px;
}

.name:hover + ul{
  display: block;
}

/* table {
  width: 100%;
  border-collapse: collapse;
  counter-increment: students-counter;
}

table thead td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: red;
  padding: 10px;
  border: 1px solid #000;
}

table tbody {
  counter-reset: students-counter;
}

table tbody td {
  border: 1px solid #000;
  padding: 5px;
}

table tbody tr td:not(:first-child) {
  text-align: center;
}

table tbody tr:hover {
  background-color: #d2d8d5;
}

table td:first-child {
  width: 15%;
}

table tbody td:first-child::before {
  content: counter(students-counter) ". ";
  counter-increment: students-counter;
} */

button.download,
button.attendance,
button.homeworks {
  background-color: #034a66;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  margin: 8px 0 0;
  padding: 10px;
  cursor: pointer;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  /* position: relative; */
  /* right: 50%; */
  /* transform: translate(50%, 0); */
}

div#placeholder {
  margin-bottom: 10px;
}